body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h2:hover{
    color:gold ;
    
}
h2{
    cursor: pointer;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #98E4FF;
    max-width: 700px;
    max-height: 700px;
    margin: 0 auto;
    background-color: #5B0888;
}

label {
    display: block;
    margin: 10px 0;
    color: white;
}
input[type="tel"],[type="text"] {
            width: 60%;
            padding: 8px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: green;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin: 10px;
            transition: background-color 0.3s, transform 0.3s;
        }
        button:hover {
            background-color: gold;
            color: black;
            transform: scale(1.1);
            /* font-size: 10px; */
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin: 10px;
        }
        #bonusResult{
            color: green;
            padding: 15px;
            font-weight: bold;
            
        }
        input{
            /* width: 50%; */
        }
        